<tui-textfield iconStart="@tui.search">
  <input
    placeholder="Search tracks, artists, albums..."
    tuiInput
    [ngModel]="searchQuery()"
    (ngModelChange)="searchQuery.set($event)"
  />

  <tui-icon tuiTooltip="Start typing track, artist, album..." />
</tui-textfield>

<div class="search-page">
  <app-search-filters-panel [initialFilters]="initialFilters()" (filtersChange)="onFiltersChange($event)" />

  <div class="content">
    @if (store.api.tracksResource.isLoading()) {
      <tui-loader />
    } @else if (store.api.tracksResource.error()) {
      <p class="error-state">{{ store.api.tracksResource.error()?.message }}</p>
    } @else if (store.searchResult().totalCount > 0) {
      @let topResult = store.searchResult().searchedTracks[0];
      <app-search-top-result-track-card
        [track]="topResult"
        [isPlaying]="store.currentTrack()?.id === topResult.id"
        (playTrack)="onPlay($event)"
        (pauseTrack)="onPause($event)"
      />

      <div class="results">
        @for (item of store.searchResult().searchedTracks; track item.id) {
          @if (!$first) {
            <app-search-track-card
              [track]="item"
              [isPlaying]="store.currentTrack()?.id === item.id"
              (playTrack)="onPlay($event)"
              (pauseTrack)="onPause($event)"
            />
          }
        }
      </div>
    } @else if (debouncedQuery().trim()) {
      <p class="empty-state">No tracks found for "{{ debouncedQuery() }}"</p>
    }
  </div>
</div>
