:host {
  display: block;
  height: 100%;
  padding-bottom: 80px;
}

.search-page {
  display: grid;
  grid-template-columns: 230px 1fr;
  gap: 2rem;
  padding: 2rem;
  height: 100%;
}

.filters {
  min-width: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 0;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.load-more-wrapper {
  display: flex;
  justify-content: end;
}

.load-more-btn {
  align-self: flex-start;
  margin-top: 0.75rem;
  min-width: 170px;
}
