@import 'styles/mixins.less';

:host {
  display: flex;
  flex-direction: column;
  gap: var(--sm);
  cursor: pointer;
  border-radius: var(--bdrd);
  transition: var(--transition-transform);

  &:hover {
    transform: translateY(-4px);

    .name {
      color: var(--primary);
    }
  }
}

.cover {
  .reset-default-button();
  aspect-ratio: 1;
  border-radius: var(--bdrd);
  overflow: hidden;
  background-color: var(--surface-container);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 0 var(--sm);
}

.name {
  .ellipsis();
  color: var(--on-surface);
  transition: var(--transition-color);
}

.meta {
  .ellipsis();
  color: var(--on-surface-variant);
}
