<header>
  <app-search-bar />
  <div class="actions-zone">
    @if (currentUser(); as user) {
      <button
        tuiAvatar="@tui.user"
        size="m"
        [tuiDropdown]="userMenu"
        [(tuiDropdownOpen)]="isMenuOpen"
        aria-label="user-menu"
      >
        <img alt="avatar" src="https://avatars.githubusercontent.com/u/11832552" />
      </button>

      <ng-template #userMenu>
        <tui-data-list>
          <div class="user-email">{{ user.email }}</div>
          <button tuiOption type="button" (click)="logout()">
            <tui-icon icon="@tui.log-out" />
            Log out
          </button>
        </tui-data-list>
      </ng-template>
    }
  </div>
</header>
