:host {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 10px 15px;
  transition: var(--transition-box-shadow), var(--transition-bgc);

  &:hover,
  &.active {
    background-color: var(--surface-container);
    box-shadow: 0 0 2px rgba(183, 109, 255, 0.5);

    .title {
      color: var(--primary);
    }
  }

  &.active .title {
    animation: neonPulse 1s ease-in-out infinite alternate;
  }
}

.index {
  position: relative;
  min-width: 30px;
  text-align: center;
  color: var(--on-surface-variant);
}

.equalizer {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  padding-bottom: 8px;

  span {
    width: 1.4px;
    background-color: var(--primary);
    border-radius: 3px;
    margin: 0 0.8px;
    animation: equalizer 1s 0.8s ease-in-out infinite alternate;

    &:nth-child(1) {
      animation-delay: 0s;
      height: 4px;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
      height: 12px;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
      height: 20px;
    }

    &:nth-child(4) {
      animation-delay: 0.1s;
      height: 12px;
    }

    &:nth-child(5) {
      animation-delay: 0s;
      height: 4px;
    }
  }
}

.title {
  color: var(--on-surface);
  transition: var(--transition-color);
}

.artist,
.meta {
  color: var(--on-surface-variant);
}

.meta {
  margin-left: auto;
  display: flex;
  gap: 17px;
}

.play-btn {
  border-radius: 38%;
}

@keyframes equalizer {
  from {
    transform: scaleY(0.7);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes neonPulse {
  0% {
    text-shadow:
      0 0 10px rgba(183, 109, 255, 0.5),
      0 0 10px rgba(221, 183, 255, 0.5);
  }
  100% {
    text-shadow:
      0 0 15px rgba(183, 109, 255, 0.7),
      0 0 15px rgba(221, 183, 255, 0.7);
  }
}
