@let member = teamMember();

<div tuiCardLarge class="card">
  <div tuiCell class="columns">
    <span [tuiSkeleton]="isSkeletonVisible" class="skeleton">
      <img (load)="hideSkeleton()" [alt]="member.name" [src]="member.photoUrl" class="photo" />
    </span>
    <div class="wrapper">
      <header tuiHeader>
        <h4 class="title-md">
          {{ member.name }}
        </h4>
      </header>
      <div tuiDescription class="description">
        <p class="label-sm role">
          {{ member.role }}
        </p>
        <p class="info body-md">
          {{ member.info }}
        </p>
        <a tuiLink class="label-sm github-link" [href]="member.githubLink" target="_blank"
          ><tui-icon icon="@tui.github" class="body-md" /> GitHub Link</a
        >
      </div>
    </div>
  </div>
</div>
