:host {
  display: block;
}

.playlists-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 1rem;
}

.playlist-card {
  aspect-ratio: 1;
  border-radius: 12px;
}
