@import 'styles/mixins.less';

.equalizer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;

  span {
    width: 8%;
    background-color: var(--primary);
    border-radius: 25px;
    margin: 0 1px;
    animation: equalizer 1s 0.8s ease-in-out infinite alternate;

    &:nth-child(1) {
      animation-delay: 0s;
      height: 10%;
    }

    &:nth-child(2) {
      animation-delay: 0.1s;
      height: 30%;
    }

    &:nth-child(3) {
      animation-delay: 0.2s;
      height: 50%;
    }

    &:nth-child(4) {
      animation-delay: 0.1s;
      height: 30%;
    }

    &:nth-child(5) {
      animation-delay: 0s;
      height: 10%;
    }
  }
}

@keyframes equalizer {
  from {
    transform: scaleY(0.7);
  }

  to {
    transform: scaleY(1);
  }
}

@keyframes neonPulse {
  0% {
    filter: drop-shadow(0 0 2px rgba(183, 109, 255, 0.5)) drop-shadow(1px 0 5px rgba(221, 183, 255, 0.5));
  }
  100% {
    filter: drop-shadow(1px 0 5px rgba(183, 109, 255, 0.9)) drop-shadow(1px 0 7px rgba(221, 183, 255, 0.9));
  }
}
