<section>
  <h2>{{ title() }}</h2>
  @switch (resource().status()) {
    @case ('loading') {
      <tui-loader />
    }
    @case ('resolved')
    @case ('local') {
      <div class="row-container">
        @for (track of resource().value()?.results; track track.id) {
          @let data =
            {
              cover: track.image,
              title: track.name,
              subtitle: generateSubtitle(track.artist_name, track.duration),
            };
          <button app-music-card href="" class="music-card" (click)="onClickMusicCard($index)">
            <app-music-card [data]="data" [isActive]="track.id === playingTrackId()"></app-music-card>
          </button>
        } @empty {
          <p class="fallback">No-one works here...</p>
        }
      </div>
    }
    @default {
      <p class="error">Network error...</p>
    }
  }
</section>
