:root {
  --surface: #16111b;
  --on-surface: #eadfed;
  --on-surface-variant: #cfc2d6;
  --primary: #ddb7ff;
  --secondary: #adc6ff;
  --error: #ffb4ab;
  --sm: 0.5rem;
  --default: 1rem;
  --md: 1.5rem;
  --lg: 2rem;
  --xl: 3rem;
  --lg-container: 1280px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-hover: 0 0 30px rgba(132, 43, 210, 0.15);
  --dim-gradient: linear-gradient(rgba(22, 17, 27, 0.1), rgba(22, 17, 27, 0.7), rgb(22, 17, 27));
  --gray-gradient: linear-gradient(to left, rgb(221 183 255 / 0.1), rgba(21, 21, 29, 0.7));
  --colorful-gradient-2: linear-gradient(to right, var(--primary), var(--secondary));
  --colorful-gradient-3: linear-gradient(to right, var(--primary), var(--secondary), var(--primary));
  --transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --card-bg: rgba(21, 21, 29, 0.7);
  --tui-typography-family-text: 'Inter', sans-serif;
  --tui-typography-family-display: 'Inter', sans-serif;
  --t-diameter: var(--lg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  transition: var(--transition);
}

.display-lg {
  font-size: 3rem;
  font-weight: '800';
  line-height: '1.1';
  letter-spacing: -0.04em;
}

.headline-lg {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.title-md {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
}

.body-md {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.label-sm {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05em;
}

[tuiTheme='dark'] {
  --tui-background-base: var(--surface);
  --tui-text-primary: var(--on-surface);
  --tui-text-action: var(--primary);
  --tui-text-action-hover: var(--on-surface-variant);
  --tui-background-accent-1: var(--on-surface);
}

[tuiCardLarge][tuiSurface] {
  max-width: 100%;
  border: var(--border);
  --t-radius: var(--lg);
  background-color: var(--card-bg);
  transition: var(--transition);
}
