:root {
  // FONTS FOR TAIGA LIBRARY
  --tui-typography-family-text: 'Inter', sans-serif;
  --tui-typography-family-display: 'Inter', sans-serif;
}

// NORMALIZE CSS
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
