:root {
  --surface: #16111b;
  --surface-bright: #3d3741;
  --surface-container: #231e27;
  --surface-container-high: #2e2832;
  --surface-container-highest: #39323d;
  --on-surface: #eadfed;
  --on-surface-variant: #cfc2d6;
  --inverse-on-surface: #342e38;
  --outline: #988d9f;
  --outline-variant: #4d4354;
  --primary: #ddb7ff;
  --primary-mix-10: color-mix(in srgb, var(--primary) 10%, transparent);
  --primary-mix-20: color-mix(in srgb, var(--primary) 20%, transparent);
  --primary-mix-30: color-mix(in srgb, var(--primary) 30%, transparent);
  --on-primary: #490080;
  --primary-container: #b76dff;
  --secondary: #adc6ff;
  --error: #ffb4ab;
  --sm: 0.5rem;
  --default: 1rem;
  --md: 1.5rem;
  --lg: 2rem;
  --bm: 2.75rem;
  --xl: 3rem;
  --lg-container: 1280px;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-hover: 0 0 30px rgba(132, 43, 210, 0.15);
  --filter-neon-shadow: drop-shadow(0 0 5px rgba(183, 109, 255, 0.5)) drop-shadow(1px 0 5px rgba(221, 183, 255, 0.5));
  --dim-gradient: linear-gradient(rgba(22, 17, 27, 0.1), rgba(22, 17, 27, 0.7), rgb(22, 17, 27));
  --gray-gradient: linear-gradient(to left, rgb(221 183 255 / 0.1), rgba(21, 21, 29, 0.7));
  --colorful-gradient-1: linear-gradient(-45deg, #b76dff 20%, #ddb7ff 80%);
  --colorful-gradient-2: linear-gradient(to right, var(--primary), var(--secondary));
  --colorful-gradient-3: linear-gradient(to right, var(--primary), var(--secondary), var(--primary));
  --edge-fade-gradient: linear-gradient(to right, var(--surface) 0%, transparent 35%, transparent 55%, var(--surface) 100%);
  --transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --transition-bgc: background-color cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --transition-border-color: border-color cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --transition-box-shadow: box-shadow cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --transition-color: color cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --transition-filter: filter cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --transition-transform: transform cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  --border: 1px solid rgba(255, 255, 255, 0.1);
  --bdrd: 35px;
  --card-bg: rgba(21, 21, 29, 0.7);
  --tui-typography-family-text: 'Inter', sans-serif;
  --tui-typography-family-display: 'Inter', sans-serif;
  --t-diameter: var(--lg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  transition: var(--transition);
}

.display-lg {
  font-size: 3rem;
  font-weight: '800';
  line-height: '1.1';
  letter-spacing: -0.04em;
}

.headline-lg {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02em;
}

.title-md {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.4;
}

.body-md {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.label-sm {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.05em;
}

[data-appearance='custom-hint'] {
  background-color: var(--primary-container) !important;
  color: var(--on-surface) !important;
}

[tuiAppearance][data-appearance='custom-active'] {
  background-color: transparent;
  color: transparent;

  &:hover {
    background-color: var(--primary);
    color: var(--on-surface);
  }
}

[tuiAppearance][data-appearance='custom-secondary'] {
  color: transparent;

  &:hover {
    background-color: var(--primary);
    color: var(--on-surface);
  }
}

[tuiTheme='dark'] {
  --tui-background-base: var(--surface);
  --tui-text-primary: var(--on-surface);
  --tui-text-action: var(--primary);
  --tui-text-action-hover: var(--on-surface-variant);
  --tui-background-accent-1: var(--on-surface);
}

[tuiCardLarge][tuiSurface] {
  max-width: 100%;
  border: var(--border);
  --t-radius: var(--lg);
  background-color: var(--card-bg);
  transition: var(--transition);
}

tui-drawer.queue-drawer {
  inline-size: 320px;
  background-color: var(--surface-container);
  border-left: var(--border);

  .t-content {
    padding: 0;
    block-size: 100%;
    display: flex;
    flex-direction: column;
  }
}
