:host {
  padding: 1.5rem;
}

.top-result {
  height: 170px;
}

.hero-skeleton {
  display: grid;
  gap: 2rem;
  grid-template-columns: 260px 1fr;
  margin-bottom: 1.5rem;
  width: 100%;
}

.hero-description,
.hero-image {
  border-radius: 8px;
}

.hero-image {
  width: 260px;
  height: 260px;
}

.section-title {
  width: 120px;
  height: 1.5rem;
  border-radius: 8px;
  margin-bottom: 1rem;

  &_table {
    width: 100%;
  }

  &_discography {
    margin-top: 1.5rem;
  }
}

.track-skeleton {
  height: 44px;
  border-radius: 8px;
  margin-bottom: 0.25rem;
}
