:host {
  position: fixed;
  left: 0;
  bottom: 96px;

  display: flex;
  flex-direction: column;

  width: 260px;
  max-height: 440px;
  background-color: rgba(168, 85, 247, 0.08);

  z-index: 1000;
}

.queue-panel__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.queue-panel__content {
  overflow-y: auto;
  flex: 1;
}
