<div class="index" [class.active]="isPlaying()">
  @if (isPlaying()) {
    <div class="equalizer"><span></span><span></span><span></span><span></span><span></span></div>
  } @else {
    {{ index() }}
  }
</div>
<div class="cover">
  <img src="{{ track().album_image }}" alt="{{ track().name }}" />
</div>
<div class="description">
  <h3 class="title">{{ track().name }}</h3>
  <p class="artist">{{ track().artist_name }}</p>
</div>
<div class="meta">
  <span class="play-count">{{ track().stats.listens_total | formatPlayCount }}</span>
  <span class="duration">{{ track().duration | formatDuration }}</span>
</div>
<button
  tuiIconButton
  size="m"
  [appearance]="isPlaying() ? 'custom-active' : 'secondary'"
  [iconStart]="isPlaying() ? '@tui.pause' : '@tui.play'"
  class="play-btn"
  (click)="isPlaying() ? onPause() : onPlay()"
  aria-label="{{ isPlaying() ? 'Pause' : 'Play' }}"
></button>
