<section>
  <h2>Popular tracks</h2>
  @switch (popularTracksResource.status()) {
    @case ('loading') {
      <tui-loader />
    }
    @case ('error') {
      <p class="error">Network error...</p>
    }
    @default {
      @for (track of popularTracksResource.value(); track track.id) {
        @let data =
          {
            cover: track.coverUrl,
            title: track.title,
            subtitle: track.count.toString(),
          };
        <button
          app-music-card
          href=""
          class="music-card"
          [data]="data"
          [isActive]="track.id === currentTrackId()"
          (click)="onClickMusicCard($index)"
        ></button>
      } @empty {
        <p class="fallback">No-one works here...</p>
      }
    }
  }
  <!-- <div class="row-container">
    @let tracks = popularTracks();
    @let playingTrackId = currentTrackId();
    @for (track of tracks; track track) {
      <button
        app-music-card
        href=""
        class="music-card"
        [data]="track"
        [isActive]="track.id === playingTrackId"
        (click)="onClickMusicCard($index)"
      ></button>
    }
  </div> -->
</section>
